@import "tailwindcss";

@layer base {
  *, ::before, ::after {
    font-family: 'Readex Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  }
  html, body {
    font-family: 'Readex Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: #0f172a;
    background-color: #f8fafc;
  }
}

:root {
  --ssis-blue: #0635aa;
  --ssis-yellow: #fec707;
  --ssis-slate: #0f172a;
}
